.box.cart.box-list-product {
    width: 90%;
    height: fit-content;
    margin: 2% auto;
    display: block;
    /* background-color: var(--item-background-color); */
}

.box.cart.box-product-info {
    height: 250px;
    display: flex;
    margin: 1% auto;
}

.box.cart.box-product-image {
    width: 35%;
    justify-content: flex-start;
    align-items: flex-start;
}

.box.cart.box-product-details {
    width: 65%;
    justify-content: flex-end;
    align-items: flex-end;
}

.box.cart.box-product-productName {
    width: 10%;
    /* height: fit-content; */
    margin: auto;
    display: inline-block;
    text-align: center;
}

.box.cart.box-product-price {
    width: 10%;
    /* height: fit-content; */
    display: inline-block;
}

.box.cart.box-product-quantity {
    width: 10%;
    /* height: fit-content; */
    display: inline-block;
}

.box.cart.box-product-total {
    width: 20%;
    /* height: fit-content; */
    display: inline-block;
}

.box.cart.box-product-delete {
    width: 20%;
    /* height: fit-content; */
    display: inline-block;
}
