#left, #middle, #right {
    display: inline-block;
    *display: inline; 
    zoom: 1; 
    vertical-align: top; 
    font-size: 12px;
}

.line {
    display: block;
}

/*
Table
*/
#address-list {
    border-collapse: collapse;
    width: 100%;
}

#address-list td,
#address-list th {
    border: 1px solid white;
    padding: 8px;
}

#address-list tr:nth-child(even) {
    background-color: lightgray;
}

#address-list tr:hover {
    background-color: lightblue;
}

#address-list th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: green;
    color: white;
}

.textfield-address {
    width: 100%;
}