.logo {
    color: var(--main-color);
}

.button-signin {
    color: var(--main-color) !important;
}

.header {
    background-color: white !important;
}

.AccountCircle {
    color: var(--main-color) !important;
}

.ShoppingCartIcon {
    color: var(--main-color) !important;
    cursor: pointer;
}
